.sessao{
  position: absolute;
  margin-top: -3%;
  margin-left: 30%;
  left: 0;
  right: 0;
}

.quantmens{
  margin-top: 0%;
  margin-right: 0%;
  left: 0;
  right: 0;
}

#cssmenu{
  margin-top: 15%;
  margin-left: 10%;
}

.tabs-content.carousel { height:615px; overflow-y: visible; } 
.tabs-content.carousel .carousel-item { width: 200%; height: 100%; }