body{
  background-color: #eeeeee;
}

.sessao{
  position: absolute;
  margin-top: -3%;
  margin-left: 10%;
}

.quantmens{
  margin-top: 0%;
  margin-right: 0%;
  left: 0;
  right: 0;
}

.tabs-content.carousel { height:855px; overflow-y: visible; } 
.tabs-content.carousel .carousel-item { width: 100%; height: 100%; }

.tabs .indicator{
  background-color:white;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:33.8%;  
}